version: '3.1'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: abs_user
      POSTGRES_PASSWORD: abs_pass
      POSTGRES_DB: absences_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
